* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  list-style: none;
  box-sizing: none;
  outline: none;
}

del {
  text-decoration: line-through;
}

/* navbar top */
.navbar-top {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.social-link > a .instagram {
  font-size: 20px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #fff;
  margin: 10px;
  border-radius: 7px;
}
.social-link > a .instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  border-radius: 20%;
  color: transparent;
}
.social-link > a .facebook {
  border-radius: 50%;
  font-size: 20px;
  background-color: white;
  transition: 0.5s ease;
}
.social-link > a .facebook:hover {
  color: rgb(44, 44, 147);
}
.social-link > a .google {
  border-radius: 50%;
  font-size: 20px;
  background: white;
  transition: 0.5s ease;
  background: line-gradient(red, yellow, green, blue);
}
.social-link > a .google:hover {
  background: black;
  color: white;
}

.logo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo h3 {
  margin: auto 0;
  font-weight: bolder;
  margin: 0;
}

.icon a i {
  margin-left: 20px;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .social-link > a i {
    width: 20px;
  }
  .logo h3 {
    font-size: 20px;
  }
  .icon a i {
    width: 20px;
    margin-left: 20px;
    cursor: pointer;
  }
}
/* navbar top */
/*search */
.search-container {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.search-container input {
  background-color: white;
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

.search-container button {
  padding: 12px 20px;
  font-size: 16px;
  margin-left: 10px;
  background-color: rgb(238, 224, 208);
  color: #fff;
  border: none;
  cursor: pointer;
}

/*search */
/*main content */
#navbar-color {
  background-color: rgb(238, 224, 208);
}

.container {
  overflow: hidden;
  overflow-x: auto;
}
.container .navbar-nav {
  display: flex;
  gap: 0 30px;
}
.container .navbar-nav .nav-link {
  color: black !important;
  transition: 0.5s ease;
}
.container .navbar-nav .nav-link:hover {
  color: green !important;
}

.container {
  overflow: hidden;
  overflow-x: auto !important;
}

.block-main {
  display: flex;
}
.block-main .filter-left {
  width: 25%;
  background-color: #d6249f;
}
/* start body */
.main-cart {
  border-radius: 7px;
  width: 18rem;
  height: 350px;
  border: none;
  padding: 10px;
  transition: transform 0.5s ease;
}
.main-cart .img-cart {
  width: 100%;
}
.main-cart .img-cart img {
  width: 100%;
}
.main-cart .price {
  display: grid;
  grid-template-columns: auto auto auto;
}
.main-cart .price p {
  color: red;
}
.main-cart .price del {
  color: rgb(122, 122, 122);
}
.main-cart .price i {
  color: green;
}
.main-cart .form {
  display: none;
}

.main-cart:hover {
  transform: scale(1.1);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.main-cart:hover .form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.main-cart:hover .form .add-tocart {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  background-color: #404040;
  color: #fff;
  text-decoration: none;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
.main-cart:hover .form .add-tocart:hover {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.main-cart:hover .form .view-product {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  text-decoration: underline;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.main-cart:hover .form .view-product:hover {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  text-decoration: none;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  text-align: center;
}

/* start body */
/* footer*/
.footer {
  background: rgb(238, 224, 208);
  font-family: "Play", sans-serif;
  text-align: center;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer .footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
}
.footer .facebook {
  border-radius: 100%;
  font-size: 2rem;
  background-color: white;
  transition: 0.5s ease;
}
.footer .facebook:hover {
  color: #415ca0;
}
.footer .instagram {
  font-size: 2rem;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #fff;
  margin: 10px;
  border-radius: 50%;
}
.footer .instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  border-radius: 20%;
  color: transparent;
}
.footer .twiter {
  border-radius: 50%;
  font-size: 2rem;
  background-color: white;
  transition: 0.5s ease;
}
.footer .twiter:hover {
  background-color: #249ef0;
  color: white;
}/*# sourceMappingURL=all_product.css.map */